html, body {
	margin:0;
	padding:0;
	border:0;
}

.hidden  {
	display: none;
}

#preview-map {
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 10px;
	-webkit-transform: translate3d(10,0,0);
	transform: translate3d(0,0,0);
}

#loader {
	position: absolute;
	top:50%;
	left:50%;
}

* {
			padding: 0;
			margin: 0;
			image-rendering:optimizeSpeed;              /* Legal fallback                 */
			image-rendering:-moz-crisp-edges;           /* Firefox                        */
			image-rendering:-o-crisp-edges;             /* Opera                          */
			image-rendering:-webkit-optimize-contrast;  /* Chrome (and eventually Safari) */
			image-rendering:crisp-edges;                /* CSS3 Proposed                  */
			image-rendering: optimize-contrast;         /* Possible future browsers.      */
			-ms-interpolation-mode:bicubic;             /* IE8+                           */      
		}

		#View {
			transform-origin: 0% 0%;
			-ms-transform-origin: 0% 0%;
			-webkit-transform-origin: 0% 0%;
			-o-transform-origin: 0% 0%;
			-moz-transform-origin: 0% 0%;
			transform: scale(1.33, 1.33);
			-ms-transform: scale(1.33, 1.33); 
			-webkit-transform: scale(1.33, 1.33); 
			-o-transform: scale(1.33, 1.33); 
			-moz-transform: scale(1.33, 1.33); 