html, body {
	margin:0;
	padding:0;
	border:0;
}

.hidden  {
	display: none;
}

#preview-map {
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 10px;
	-webkit-transform: translate3d(10,0,0);
	transform: translate3d(0,0,0);
}

#loader {
	position: absolute;
	top:50%;
	left:50%;
}